.user {
  display: flex;
  margin-bottom: 10px;
}
.id {
  width: 200px;
  overflow: hidden;
  margin: 0;
}
.column {
  margin-right: 10px;
}
.user-button {
  border: none;
  background: transparent;
  cursor: pointer;
}
.user-button:hover {
  text-decoration: underline;
}
.user-button:focus {
  outline: none;
}
