.square {
    width: 23px;
    height: 23px;
    text-align: center;
    cursor: pointer;
    line-height: 23px;
    color: #000;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    background: #bfbfbf no-repeat center center;
    border: 2px outset #ececec;
}

.square:active,
.square.revealed {
    border: solid #808080;
    border-width: 0 1px 1px 0;
}

.square.mine {
    background: #fe0000 url(./mine.jpg) no-repeat center center;
    background-size: 75%;
}

.square.flagged {
    background-image: url(./flag.png);
    background-size: 60%;
}

.square.adjacent1 {
    color: #002bf8;
}

.square.adjacent2 {
    color: #167d20;
}

.square.adjacent3 {
    color: #fc0715;
}
