.challenge-page {
    margin: 0 15px;
}

.play-button,
.withdraw-button {
    padding: 0;
    width: 130px;
    height: 40px;
    border: 2px solid #312450;
    border-radius: 40px;
    background: transparent;
    outline: none;
    color: #312450;
    letter-spacing: 1px;
    font-weight: bold;
    margin-top: 20px;
    font-size: 16px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.3s, color 0.3s, width 0.3s, border-width 0.3s, border-color 0.3s;
}

.play-button:hover,
.withdraw-button:hover {
    background-color: #312450;
    color: #fff;
}

.stages-container,
.game-container {
    display: inline-block;
    width: 45%;
}

.game-container {
    margin-left: 5%;
}
